<h1 class="text-center pt-4">Mes compétences techniques</h1>

<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Langages de programmation</th>
        <th scope="col">Outils de développement web</th>
        <th scope="col">Outils de tests</th>
        <th scope="col">Outils de DevOps</th>
        <th scope="col">Bases de données</th>
        <th scope="col">Système d’exploitation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Java</td>
        <td>Angular</td>
        <td>Robot Framework</td>
        <td>GIT</td>
        <td>Mysql</td>
        <td>Linux - Ubuntu</td>

      </tr>
      <tr>
        <td>JavaScript</td>
        <td>Spring Boot</td>
        <td>Selenium</td>
        <td>GitHUB</td>
        <td></td>
        <td>Windows</td>
      </tr>
      <tr>
        <td>TypeScript</td>
        <td>Bootstrap</td>
        <td>Cypress</td>
        <td>Gitlab CI</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Python</td>
        <td>Junit</td>
        <td>TestNG</td>
        <td>Jenkins</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>C</td>
        <td>HTML, CSS3, Bootstrap</td>
        <td></td>
        <td>Docker</td>
        <td></td>
        <td></td>
      </tr>
 
    </tbody>
  </table>
</div>

