
<h1 class="text-center pt-4">Nesrine Msaed </h1>

<div id="cont">

    <img src="assets/photones.jpg" style="width: 500px;" alt="" srcset="">     

    <p>
    Passionnée par les domaines du développement web et de l’automatisation des tests logiciels, j'ai un esprit
    clair et logique avec une approche pratique de la résolution de problèmes, ainsi qu'une détermination à
    mener les choses à terme. Je suis attentive aux détails et avide d'apprendre.</p>
    <a href="" class="btn btn-primary">Mon curriculum vitae</a>

  
  </div>
  

 

  
