
<h1 class="text-center pt-4">Mes Expériences professionnelles </h1>
 
<div class="container" style="max-width: 800px; padding-top :30px; padding-bottom :30px">
  <div class="card-deck">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top"  style="height: 250px;" src="image/sofre.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Stagiaire en Automatisation des tests logiciels</h5>
          <p class="card-text">Mise en place d'un processus d'automatisation des
            tests logiciels:
      
            </p>
            <p>      *Etablissement des interactions
              *bidirectionnelles entre Robot Framework, des
              fichiers CSV et des bases de données.
              *Réalisation des tests de l’IHM
              *Réalisation des tests BDD
              *Réalisation des tests de l’API</p>
        </div>

        <div class="card-footer">
          <small class="text-muted">Mots-clés: Robot Framework , python , sélénium
            Gherkin</small>
        </div>


        <div class="card-footer">
          <small class="text-muted">Juillet 2023- Août 2023</small>
          <small class="text-muted">Sofrecom Tunisie , Sfax</small>

        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top"   style="height: 250px;" src="image/IBS.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Stagiaire en développement web
          </h5>
          <p class="card-text">
            Développement d'une application web de gestion
            de stock .
            

          </p>
          <p>*Élaboration d'une conception UML
            *Développement de la partie back-end
            *Réalisation des tests unitaires et d'intégration</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Mots-clés: Spring Boot, MySQL , Junit,Postman
            Docker</small>
        </div>
        <div class="card-footer">
          <small class="text-muted">Juillet 2022- Août 2022</small>
          <small class="text-muted">IBS Informatique , Sfax</small>
        </div>
      </div>
    </div>
    
 
      </div>
</div>
