
<h1 class="text-center pt-4">Mes Certifications</h1>
 
<div class="container" style="max-width: 800px;">
  <div class="card-deck">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/angular.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Formation de 30h réalisée au centre de formation Crocoder</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Obtenue le 27/02/2022</small>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="assets/spring.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Spring Boot</h5>
          <p class="card-text">Formation de 30h réalisée au centre de formation Crocoder</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Obtenue le 27/02/2022</small>
        </div>
      </div>
    </div>
    
    <div class="card-deck" style="padding-top :30px; padding-bottom :30px">
      <div class="card">
        <img class="card-img-top" src="assets/data.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Azure Data Fundamentals</h5>
          <p class="card-text">Obtenue à l'Enet'com en 2022, Certiport</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Obtenue le 07/12/2022</small>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="assets/fund.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Azure Fundamentals</h5>
          <p class="card-text">Obtenue à l'Enet'com en 2022, Certiport</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Obtenue le 01/02/2022</small>
        </div>
      </div>
    </div>
      </div>
</div>
