<section class="contact-area" id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="contact-content text-center">

                  <h6>Élève Ingénieur en 3ème année Génie des Télécommunications.</h6>
                  <h6>+216 20 85 20 20<span>|</span></h6>
                  <div class="contact-social">
                      <ul>
                          <li><a class="hover-target" href="https://www.facebook.com/nes.rine.75641297/"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a class="hover-target" href="https://www.linkedin.com/in/nesrine-msaed-n1"><i class="fab fa-linkedin-in"></i></a></li>
                          <li><a class="hover-target" href="https://github.com/NESMD7"><i class="fab fa-github"></i></a></li>
                          <li><a class="hover-target" href="https://mail.google.com/mail/u/0/?tab=rm#inbox"><i class="fas fa-envelope"></i>
                          </a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<footer>
  <p>Copyright &copy; 2023  Portfolio Nesrine Msaed.</p>
</footer>