


  
<h1 class="text-center pt-4">Mon Parcours universitaire
</h1>
 
<div class="container" style="max-width: 800px;">
  <div class="card-deck">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top"  style="width: 200px; height:100px " src="image/ipeis.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Institut préparatoire aux études d’ingénieurs
            de Sfax</h5>
          <p class="card-text">Cycle préparatoire aux études d’ingénieurs</p>
        </div>
        <a href="https://ipeis.rnu.tn/" class="btn btn-primary">Visiter la page</a>

      </div>
      
      <div class="card">
        <img class="card-img-top"  style="width: 200px; height:100px "src="image/enet.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ecole nationale d’électronique et des
            télécommunications de Sfax</h5>
          <p class="card-text">Cycle d’ingénieur en génie des télécommunications</p>
        </div>
        <a href="https://enetcom.rnu.tn/fr" class="btn btn-primary">Visiter la page</a>

      </div>
    </div>
    
 
      </div>
</div>
